In [340]:
#Les fonctions lambda
##je veux par exemple creer un fonction qui additionne ou multiplie deux nombre, je peux alors creer une fonction lambda
## car l'operation d'addition ou de multiplication peut tenir sur une seule ligne

Addition = lambda x, y : x+y

Voici comment appliquer cette fonction lambda cree

In [341]:
Addition(x=5, y= 4)

9

In [342]:
Multiplication = lambda x, y : x*y

In [343]:
Multiplication(x= 5, y = 5)

25

Creation d'une fonction classique Addition dont le code ne tient pas sur 
une seule ligne comme dans la foction lambda precedent. Mais cela nous donnera un meme resultat en terme d'application

In [344]:
def Addition_FC(x, y):
    resultat = x+y
    return resultat

L'application est la suivente

In [345]:
Addition_FC(x = 5, y = 5)
Addition_FC(8, 12)

20

Creer une fonction pour convertir les degres celsus en degres farenheit

In [346]:

def conversion(x):
   
    y = x*9/5+32
    resultat = y
    return resultat

In [347]:
conversion(2)

35.6

LES STRUCTURES DE CONTROLE: if, for, wile

La premiere structure de controle à maitriser dans les langages de programmation est: if
la synthaxe if(si en francais ) nous permet de mettre des condition lorsque nous programmons

In [348]:
#je veut ecrire un programme qui poura identifier les temperatures qui sont superieures à 30 degre
# 1)decision simple
temperature = 6 #DEFINITION DE LA VARIABLE
if temperature > 30: #condition( cette condition doit etre un booleen: True or False)
    print("il fait chaud")

In [349]:
# 2)decisions avec une alternative

temperature = 6 #DEFINITION DE LA VARIABLE
if temperature > 30: #condition( cette condition doit etre un booleen: True or False)
    print("il fait chaud")
else:
    print("il fait froid") # Alternative

il fait froid

In [350]:
# 3)decisions avec plusieurs alternatives( conditions multiples mettant en jeu une seule variable: Note dans ce cas)
#Je veux ecrire un programme qui puisse classer les mentions en fonction des notes

#definition de ma variable note
Note = "A" # premiere etape
if Note == "A":
    print("excellent ")
elif Note == "B":
    print("bien")
elif Note == "C":
    print("moyen")
else:
    print("a redoubler d'effort")

excellent

In [351]:
#4)Conditions multiples mettant en jeu plusieurs variables
#dans l'exemple precedent on a qu'une seule condition qui s'applique pour chaque categorie de note
#mais cette fois ci on aura aumoins deux conditions qui s'appliquerons. Dans ce cas, on aura aumoins deux variables
# exemple: je souhaite attribuer une bourse aux etudiants qui ont une note superieure à 16 dont l'age est inferieur à 20 ans
Age = 20
Note = 16
if Note >=16 and Age <= 20 :
    print("Eligible pour le programme")
else:
    print("n'est pas eligible pour le programme")

Eligible pour le programme

In [352]:
#5) conditions impriquées
Age = 13
Note = 18
if Age <= 20:
    if Note >= 16:
        print('Eligible')
    else:
        print("pas de bourse")
else:
    print("a reprogrammer")

Eligible

In [353]:
#EXO:ici on va utiliser la notion de definition de fonction et les conditions
#Fonction Classer_Age
Age1 = 13
def Classer_Age(Age1):
    if Age1 <= 12:
        print("c'est un enfant")
    elif Age1 > 12 and Age1 <= 17:
        print("c'est un adolescent")
    elif Age1 > 18 and Age1 <= 59:
        print("c'est un adulte")
    elif Age1 >= 60:
        print("c'est un senior")
    else:
        print("l'age est invalide")

In [354]:
Classer_Age(16)

c'est un adolescent

In [355]:
#LES BOUCLES
#boucle for
for i in range(0, 10, 1):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [356]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [357]:
# La boucle for impriquée avec if
# exemple: je souhaite classer les nombre en nombre pairs et impairs. Ecrivez un programme qui permet de le faire

for i in range(0, 10, 1):
    if i % 2 == 0: # si le reste de la division de la valeur de la variable i est egale à 0
        print(i,"est un nombre pair")
    else:
        print(i,"est un nombre impair")

0 est un nombre pair
1 est un nombre impair
2 est un nombre pair
3 est un nombre impair
4 est un nombre pair
5 est un nombre impair
6 est un nombre pair
7 est un nombre impair
8 est un nombre pair
9 est un nombre impair

In [358]:
#Boucle wile (tant que en francais)
# exemple: je veux compter ou afficher les nombre de 1 à 10
#ecrire un programme pour le faire
Compteur = 0
while Compteur < 10:
    Compteur = Compteur + 1
    print(Compteur)

1
2
3
4
5
6
7
8
9
10

LES TYPES DE DONNEES
Quand vous travaillez dans un langage, il faut commencer par comprendre l'ensemble des donnees qui existe
Quand on parle des types de donnes il y a un acronyme CRUD qu'il faut connaitre c'est: 
    1) create qui veut dire creer en francais. Alors il faut chercher a comprendre comment on arrive a creer l'objet, comprendre le mecanisme de creation de l'objet
    2) Read qui veut dire lire en francais.Chercher comment on arrive à lire les informations dans l'objet en question
    3)Update qui veut dire mettre à jour. Chercher à comprendre comment mettre à jour les informations dans cet objet
    4) delate qui veut dire suprimer. Chercher à comprendre comment suprimer les informations dans cet objet
voila ce qu'il faut retirepour ce qui est de la ma  nipulation d'objet(listes, bases de donnees, les vecteurs   ....)
Le premier objet qu'on utilise souvent en data science est la liste. Quand on est data analyste ou data scientist, on doit manipuler ces objets. Hier on a parler des variables et on avait dit c'etait un contener qui sert à stocker les valeurs de facon dynamique. Mais la variables stock qu'une seule valeur à la fois. Prenons l'exemple de la variable age qui stock l'age d'un individu et à supposer que nous avons besoin de stocker l'age de plusueurs individus à meme temps, alors on fera appel aux listes.

LES LISTES

##CREATE

In [359]:
#Liste des nombres
Liste_age = [15,17,23,29,45,50, 67] #ici j'ai ceer un objet(liste) qui a plusueurs elements
print(Liste_age) # afficher les elements de la liste
type(Liste_age) # afficher le type de la liste

[15, 17, 23, 29, 45, 50, 67]

list

In [360]:
#Taille des elements de la liste
len(Liste_age)

7

In [361]:
#Liste des chaines de caracteres (je peux ceer une liste qui regroupe les noms de l'ensemble des participants)
liste_nom = ["kossi", "sogoba", "ulrich", "belem", "esther"]
print(liste_nom)
type(liste_nom)

['kossi', 'sogoba', 'ulrich', 'belem', 'esther']

list

In [362]:
#liste de liste
liste = [liste_nom, Liste_age]
print(liste)
type(liste)
len(liste)

[['kossi', 'sogoba', 'ulrich', 'belem', 'esther'], [15, 17, 23, 29, 45, 50, 67]]

2

##READ

#NB ce sont les indices ou index qui nous permettent de lire ou avoir acces à des elements d'une liste

#pour accecer au prmier element, l'indice c'est 0 et pour acceder au dernier element, l'indice c'est -1

In [363]:
#Lire un element au debut
#Donc pour lire un element situe à la premiere position de la liste donc à l'indice 0

Liste_age = [15,17,23,29,45,50, 67]
Liste_age[0]

15

In [364]:
#le dernier element
#pemiere approche
Liste_age[-1]

67

In [365]:
#deuxieme approche
Liste_age[len(Liste_age)-1] # len(Liste_age)-1 donne l'indice du dernier element

67

In [366]:
#lire ou avoir acces à un element à une position quelconque
#exemple l'age située à la troisieme position donc à l'indice 2
Liste_age[2]

23

In [367]:
#acceder au premier element de la premiere liste
liste[0][0]

'kossi'

In [368]:
#Lire sur plusieurs positions qui se suivent
Liste_age[1:4] #ici ce sont les positions du debut et fin qu'on met et non les indices

[17, 23, 29]

In [369]:
Liste_age[1:3]

[17, 23]

In [370]:
#Faire une boucle sur une liste
#Exemple, je peut vouloire afficher tous les noms de ma liste_nom ou dans base de donnees
#j'utilise par exemple la boucle for
for nom in liste_nom:
    print(nom)

kossi
sogoba
ulrich
belem
esther

#UPDATE

In [371]:
#Modification directe à partir d'un index ou indice
liste_nom[0] = 'Lucien'
print(liste_nom)

['Lucien', 'sogoba', 'ulrich', 'belem', 'esther']

In [372]:
#Ajouter un element à la fin de la liste(append)
liste_nom.append("koudjo")
print(liste_nom)

['Lucien', 'sogoba', 'ulrich', 'belem', 'esther', 'koudjo']

In [373]:
#Ajouter un element à une position specifique de la liste(insert)
liste_nom.insert(1, "adjo")
print(liste_nom)

['Lucien', 'adjo', 'sogoba', 'ulrich', 'belem', 'esther', 'koudjo']

In [374]:
#suprimer un element à un index specifique de la liste (del liste_nom(index))
del liste_nom[1]
print(liste_nom)

['Lucien', 'sogoba', 'ulrich', 'belem', 'esther', 'koudjo']

In [375]:
#suprimer un element specifique de la liste sans se referer à son 
# index mais à l'element lui meme (liste_nom.remove(nom de l'element))
liste_nom.remove("koudjo")
print(liste_nom)

['Lucien', 'sogoba', 'ulrich', 'belem', 'esther']

In [376]:
#suprimer un element à un index specifique de la liste et retourner 
# cet element(liste_nom.pop(index))
liste_nom.pop(0)

'Lucien'

#STRING

In [377]:
#variable
nom = "natacha"
nom[0]

'n'

LES TUPLES
#ce sont les elements ordonnes comme les listes mais qu'on ne peut pas modifier. Ils permettent de mieux gerer les memoires(occupent moins d'espace dans les memoires). Ils sont utilises specifiquement comme des clees dans les dictionnaires

In [378]:
#create
nom_tuple = (3,6,7,8)

In [379]:
#reade
#premier element
nom_tuple[0]

3

In [380]:
#dernier element
nom_tuple[-1]

8

In [381]:
#update
#on ne peut pas modifier mais on peut ajouter
#ajouter les elements
nom_tuple + (6,7,8,9)

(3, 6, 7, 8, 6, 7, 8, 9)

In [382]:
#dalete
#ici, on ne peut pas suprimer un element specifique
# du tuple mais tout le tuple
del nom_tuple

UN SET
## C"est une collection d'elements non ordonnes c'est a dire on ne peut pas faire set de 0
###ils sont modifiables et unique en python.Chaque element dans un set est distict et ne peut apparaitre qu'une seule fois

.Aventages: les sets sont obtimises pour verifier rapîdement si un element est present dans une collection, ce qui les rend ideaux pour les perations comme les unions, intersections et differences d'ensembles

In [383]:
#create
Nom_set = {4,5,7,7,7,6,6} #ici on a ceer le set avec une repetition d'element
Nom_set # ici en executant le code, on constate que le set à ete creer mais avec
        #les element uniques

{4, 5, 6, 7}

In [384]:
#read
#Nom_set[0] #on ne peut pas effectuer cette operation car les sets ne sont pas ordonnés

In [385]:
#read(for)
#pour pouvoir parcourir un set et afficher ses elements, il faut:
for element in Nom_set:
    print(element)

4
5
6
7

In [386]:
#read(if) pour verifier la presence specifique d'un 
# element dans le set
if 3 in Nom_set:
    print(f"3 est disponible")
else:
    print(f"3 n'est pas disponible")

3 n'est pas disponible

Exercices sur les listes
trouve et remplace automatiquement dans une liste
Ecrire un programme python qui parcours une liste predefinie de nombre entiers, recherche un nombre specifique dans cette liste et remplace toutes ses occurences par un autre nombre specifique.

##instructions:
utiliser la liste suivente des nombres entiers: [12,35,12,9,56,24,36,12,09,24,35,17]
##Nombres à rechercher et à remplacer:
.Definisser une vaeiable pour le nombre à rechercher et à remplacer dans la liste par exemple:Nombre_recherche=12
.Definisser une AUTRE vaeiable pour le nombre qui remplacera les occurences trouvees dans la liste par exemple:Nombre_remplacement=100

##Recherche et remplacement:
parcourez la liste avec une boucle et à chaque fois que le nombre_recherche est, remplacez le par le nombre_remplacement

##Affichage des resultats:
.Avant de commencer le processus de remplacement, afficher la liste originale.
.Apres avoir effectuer les changements, Affichez la liste modifiee pour montrer les changements effectues.

In [387]:
liste = [12,35,12,9,56,24,36,12,89,24,35,12] 
print(liste)

[12, 35, 12, 9, 56, 24, 36, 12, 89, 24, 35, 12]

In [388]:
#Premiere soulution
liste = [12,35,12,9,56,24,36,12,9,24,35,12] 
Nombre_recherche=12
Nombre_remplacement=100
print("l'ancienne liste:", liste)
for i in range(len(liste)):
   if liste[i] == Nombre_recherche:
    liste[i] = Nombre_remplacement
    print("nombre_rechercher trover et remplace")
print("nouvelle liste:", liste)

l'ancienne liste: [12, 35, 12, 9, 56, 24, 36, 12, 9, 24, 35, 12]
nombre_rechercher trover et remplace
nombre_rechercher trover et remplace
nombre_rechercher trover et remplace
nombre_rechercher trover et remplace
nouvelle liste: [100, 35, 100, 9, 56, 24, 36, 100, 9, 24, 35, 100]

In [389]:
#Deuxieme soulution
liste = [12,35,12,9,56,24,36,12,9,24,35,12] 
Nombre_recherche=12
Nombre_remplacement=100
print("l'ancienne liste:", liste)

Compteur = 0
for i in liste:
   if i == Nombre_recherche:
      liste[Compteur] = Nombre_remplacement
   Compteur = Compteur + 1
    
print("nouvelle liste:", liste)

l'ancienne liste: [12, 35, 12, 9, 56, 24, 36, 12, 9, 24, 35, 12]
nouvelle liste: [100, 35, 100, 9, 56, 24, 36, 100, 9, 24, 35, 100]

# LES DICTIONNAIRES
Ils sont des paires cles-valeurs. Dans les dictionnaires, il n'y a pas d'ordre. C'est juste un systeme de clees valeurs ou les clees peuvent etres considerees comme des identifiants. Donc a chaque identifiant est associe une valeur et cela empeche les doublons
.Aventages: Les dictionnaires sont optimales pour recuperer rapidement des valeurs(informations) losque vous connaissez la cle. Ce qui les rends ideaux pour stocker les donnees qu'il est necessaire de efficassement

Create

In [390]:
#creation d'un dictionnaire

In [422]:
depense_mensuelles = {"loyer": 500, "divertissement": 200,
                        "sante": 100, "deplacement": 30,
                        "electricite": 200}

In [392]:
depense_mensuelles

{'loyer': 500,
 'divertissement': 200,
 'sante': 100,
 'deplacement': 30,
 'electricite': 200}

In [393]:
type(depense_mensuelles)

dict

In [394]:
#depenses de plusieurs mois revient à creer le dictionnaire des dictionnaires

depense_janvier = {"loyer": 500, 
                   "divertissement": 200,
                    "sante": 100, 
                    "deplacement": 30,
                    "electricite": 200}

depense_fevrier = {"loyer": 500, 
                   "divertissement": 500,
                  "sante": 200, 
                  "deplacement": 300,
                  "electricite": 20}

depense_mars = {"loyer": 300, 
              "divertissement": 100,
                "sante": 200,
                "deplacement": 300,
                "electricite": 400}


depense_premiertrimestre = {"janvier": depense_janvier,
                            "fevrier": depense_fevrier,
                            "mars": depense_mars } 
# dans les depense_premiertrimestre les cles sont
#des mois et les valeurs sont des dictioonaires. Ces 
# valeurs pouvaient etyres des listes, des tuples, des sets...

In [395]:
print(depense_premiertrimestre)

{'janvier': {'loyer': 500, 'divertissement': 200, 'sante': 100, 'deplacement': 30, 'electricite': 200}, 'fevrier': {'loyer': 500, 'divertissement': 500, 'sante': 200, 'deplacement': 300, 'electricite': 20}, 'mars': {'loyer': 300, 'divertissement': 100, 'sante': 200, 'deplacement': 300, 'electricite': 400}}

In [396]:
len(depense_premiertrimestre)

3

Read
## j'ai mes donnees sous forme d'un dictionnaire, comment j'arrive à les lire en tant que data analyst ou scientist

In [397]:
#read
#on peut lire à partire d'une cle
#on fait: nom_dictionnaire[cle]
depense_mensuelles["loyer"]

500

In [398]:
#je peut recuperer ca dans une variable et afficher:
loyer = depense_mensuelles["loyer"]
print(loyer)

500

In [399]:
depense_premiertrimestre["janvier"]

{'loyer': 500,
 'divertissement': 200,
 'sante': 100,
 'deplacement': 30,
 'electricite': 200}

In [400]:
#tester une autre cle
#depense_mensuelles[temp]
# ceci retournera une erreur puisque la cle temp n'existe pas dans ce dictinnaire
# pour eviter d'afficher une erreur et d'afficher none quand on a pas la 
#cle, on utilise la methode get

In [401]:
depense_cleinconue = depense_mensuelles.get("temp")
print(depense_cleinconue)

None

In [402]:
#obtenir toutes les cles disponibles dans le dictionnaire

depense_mensuelles.keys()

dict_keys(['loyer', 'divertissement', 'sante', 'deplacement', 'electricite'])

In [403]:
# acceder à une cle specifique
#depense_mensueeles.keys() donne toutes les cles du dictionnaire
#ces cles sont rangees par index. Mais aves les dictionnaire, on ne peut
#pas utilser l'index d'une cle pour acceder à la valeur
#donc necessite de trnsformer le dict_keys(depense_mensueeles.keys()) en liste
# comme suite puis l'annexer de l'index d'une cle specique voulue pour avoir 
#sa valeur

depense_mensuelles[list(depense_mensuelles.keys())[1]] 

# avec ce code, on peut acceder à n'importe quelle valeur en introduisant
#l'index de sa cle en faisant nom_dictionnaire.keys()
#donc quand on fait nom_dictionnaire.keys(), on obtient un dictionnaire
#des cles de valeurs et leurs index (dict_keys(['loyer', 'divertissement', 'sante', 'deplacement', 'electricite']))
#apres ca, on peut utiliser soit par les cles pour acceder aux 
# valeurs par la formule: depense_premiertrimestre["cles"]
#ou par l'index des cles par la formule: depense_mensueeles[list(depense_mensueeles.keys())[1]]

200

In [404]:
#Obtenir les valeurs
#on peut toutefois avoir besoins d'obtenir les valeurs sans avoir les cles
#on passe par la methode value

depense_mensuelles.values()

dict_values([500, 200, 100, 30, 200])

In [405]:
#obtenir les itms(à meme temps la clee et la valeur)

depense_mensuelles.items()

dict_items([('loyer', 500), ('divertissement', 200), ('sante', 100), ('deplacement', 30), ('electricite', 200)])

In [406]:
#taille du dictionnaire
len(depense_mensuelles)

5

#update

In [407]:
#update
#mettre à jour la valeur d'une cle dans le dictionnaire

depense_mensuelles["loyer"] = 600

In [417]:
print(depense_mensuelles)

{'loyer': 500, 'divertissement': 200, 'sante': 100, 'deplacement': 30, 'electricite': 200}

In [423]:
#ajouter un nouvel element dans le dictionnaire

depense_mensuelles["vetements"] = 700

In [424]:
print(depense_mensuelles)

{'loyer': 500, 'divertissement': 200, 'sante': 100, 'deplacement': 30, 'electricite': 200, 'vetements': 700}

DELATE

In [425]:
#delate

del depense_mensuelles["vetements"]
print(depense_mensuelles)

{'loyer': 500, 'divertissement': 200, 'sante': 100, 'deplacement': 30, 'electricite': 200}